<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topuniversities.com</title>
   <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <div class="nav_bar_1">
        <section class="nav_section" id="/">
            <div class="content_nav">

                <img src="/static/img/logo.svg" alt="logo.svg">
                <div class="buttons">
                    <button class="btn">Login</button>
                    <button class="btn" id="signup">Sign Up</button>
                </div>
            </div>

        </section>
    </div>
    <div class="nav_bar_2">
        <div class="navbar_section">
            <div class="ul">
                <ul>
                    <nav class="navbar">
                        <a href="#rate_section">RANKING</a>
                        <a href="#information">DISCOVER</a>
                        <a href="/">EVENTS</a>
                        <a href="#/">PREPARE</a>
                        <a href="#contact">APPLY</a>
                        <a href="#/">CAREER</a>
                        <a href="#/">COMMUNITY</a>



                    </nav>
                    <img src="/static/img/img1.png" alt="">
                </ul>
            </div>
        </div>
    </div>

    <section class="main">
        <div class="cover_img">
            <div class="MIT_tital_section">
                <img src="/static/img/mit_img.webp" alt="">
                <div class="MIT_tital">
                    <h1>Massachusetts Institute of Technology (MIT)</h1>
                    <h3>LocationMassachusetts Institute of Technology (MIT), Cambridge United States</h3>
                </div>

            </div>
            <div class="main_section_boxes">
                <div class="box" id="box_1">
                    <!-- <h3> Request More Details</h3> -->
                    <a href="#information">Request More Details</a>
                </div>
                <div class="box">
                    <h3>Shortlist</h3>
                </div>
                <div class="box">
                    <h3> Compare</h3>
                </div>
            </div>



            <a class="explore" href="#information"> explore</a>


        </div>
    </section>
    <section class="information" id="information">
        <div class="content_1">
            <div class="info_tital">
                <H1>UNIVERSITY INFORMATION</H1>
            </div>

            <div class="content_info">
                <h1>Massachusetts Institute of Technology</h1>
                <p>The Massachusetts Institute of Technology (MIT) is a private land-grant research university in
                    Cambridge, Massachusetts. Established in 1861, MIT has since played a key role in the development of
                    modern technology and science, ranking among the top academic institutions in the
                    world.[11][12][13][14]

                    Founded in response to the increasing industrialization of the United States, MIT adopted a European
                    polytechnic university model and stressed laboratory instruction in applied science and engineering.
                    The institute has an urban campus that extends more than a mile (1.6 km) alongside the Charles
                    River, and encompasses a number of major off-campus facilities such as the MIT Lincoln Laboratory,
                    the Bates Center, and the Haystack Observatory, as well as affiliated laboratories such as the Broad
                    and Whitehead Institutes.</p>
                <p>
                    As of December 2021, 98 Nobel laureates,[15] 26 Turing Award winners, and 8 Fields Medalists have
                    been affiliated with MIT as alumni, faculty members, or researchers.[16] In addition, 58 National
                    Medal of Science recipients, 29 National Medals of Technology and Innovation recipients, 50
                    MacArthur Fellows,[17] 80 Marshall Scholars,[18] 41 astronauts,[19] 16 Chief Scientists of the US
                    Air Force, and numerous heads of states have been affiliated with MIT. The institute also has a
                    strong entrepreneurial culture and MIT alumni have founded or co-founded many notable
                    companies.[20][21] MIT is a member of the Association of American Universities (AAU)[22] and has
                    received more Sloan Research Fellowships than any other university in North America.[23]
                </p>
            </div>
        </div>
        <div class="content_2">
            <h1 class="content_2_tital">STUDENT AND STAFF</h1>
            <div class="info_block">
                <div class="block">
                    <h1>Total Student</h1>
                    <div class="total_number">11,035</div>
                    <div class="block_1">
                        <div style="width:39%"></div>
                        <div style="width:61%"></div>
                    </div>
                    <div class="color-code-cont">
                        <div class="color-code-parent">
                            <div class="color-code"></div>
                            <div>
                                <label>UG students</label>
                                <div>39%</div>
                            </div>
                        </div>
                        <div class="color-code-parent">
                            <div class="color-code"></div>
                            <div>
                                <label>PG students</label>
                                <div>61%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h1>International Student</h1>
                    <div class="total_number">11,035</div>
                    <div class="block_1">
                        <div style="width:39%"></div>
                        <div style="width:61%"></div>
                    </div>
                    <div class="color-code-cont">
                        <div class="color-code-parent">
                            <div class="color-code"></div>
                            <div>
                                <label>UG students</label>
                                <div>39%</div>
                            </div>
                        </div>
                        <div class="color-code-parent">
                            <div class="color-code"></div>
                            <div>
                                <label>PG students</label>
                                <div>61%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h1>faculty Staff</h1>
                    <div class="total_number">11,035</div>
                    <div class="block_1">
                        <div style="width:39%"></div>
                        <div style="width:61%"></div>
                    </div>
                    <div class="color-code-cont">
                        <div class="color-code-parent">
                            <div class="color-code"></div>
                            <div>
                                <label>UG students</label>
                                <div>39%</div>
                            </div>
                        </div>
                        <div class="color-code-parent">
                            <div class="color-code"></div>
                            <div>
                                <label>PG students</label>
                                <div>61%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rate_section" id="rate_section">
        <div class="Ranking_Rating">
            <h1>Ranking and Rating</h1>
            <p>Massachusetts Institute of Technology (MIT) is one of the top private universities in Cambridge, United States. It is ranked #1 in QS World University Rankings 2023.</p>
        </div>
        <div class="rankboxes">
            <div class="area">
                <h2>#1</h2>
                <p>QS World University Rankings
                </p>
            </div>
            <div class="area">
                <h2>#=13</h2>
                <p>QS WUR Ranking By Subject</p>
            </div>
            <div class="area">
                <h2>#1</h2>
                <p>Graduate Employability Ranking
                </p>
            </div>
            <div class="area">
                <h2>#1</h2>
                <p>World University Rankings - Masters in Supply Chain Management</p>
            </div>
        </div>
    </section>
    <section class="location_section">
        <div class="location">
            <h1>Location</h1>

        </div>
    </section>
    <section id="contact">
        <div class="Services" id="contact_us_id">
            <h1>Contact Us</h1>
        </div>
        <div id="contact-box">
            <form action="/contact" method="post" class="myform">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="phone" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
                <button class="btn">submit

                </button>
            </form>
        </div>
    </section>



</body>

</html>